# Python cache files
__pycache__


# Testing and Debugging
.pytest_cache
.coverage
pytest_output.txt
testing.py


# Distribution/Packaging
build/
dist/
.eggs/
*.egg-info
.installed.cfg
*.egg
MANIFEST


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Extras
images/*
images/